body {
  padding: 50px;
  font: 20px 'Lato', sans-serif;
}

.mt-15 {margin-top: 15px;}
.mb-15 {margin-bottom: 15px;}

.ml-15 {margin-left: 15px;}
.mr-15 {margin-right: 15px;}

a {
  color: #00B7FF;
}

* {
  -webkit-border-radius: 0 !important;
     -moz-border-radius: 0 !important;
          border-radius: 0 !important;
}

.dropdown-menu .cart {
  min-width: 250px;
  padding: 15px 25px 0;
}

.dropdown-menu .cart .row > div {
  padding: 0 0 10px 0;
}

.dropdown-menu .cart .totalPrice{
  font-size: 120%;
  font-weight: bold;
  padding: 15px 0;
}

.cart.page {
  padding: 25px 0;
}